*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    background: #1E1E1E;
    max-width: 1600px;
    border: 1px solid;
}

@media only screen and (max-width: 1000px) {
    .container{
        width: 100%;

    }
}


@media only screen and (max-width: 400px){
    .container{
        width: 100%;
    }
} 